<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :page_count %><br>
    <%= f.number_field :page_count %>
  </div>
  <div class="field">
    <%= f.label :on_shelf %><br>
    <%= f.check_box :on_shelf %>
  </div>
  <div class="actions">
    <%= f.submit 'Save', data: { confirm: 'Are you sure your book is on shelf?' } %>
  </div>
<% end %>
