<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Page count:</strong>
  <%= @book.page_count %>
</p>

<p>
  <strong>On shelf:</strong>
  <%= @book.on_shelf %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
